.page-404 {
	min-height: 600px;
	padding-top: 150px;
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	h1 {
		font-size: rem(64);
		margin-bottom: 32px;
	}
	p {
		font-size: rem(32);
		margin-bottom: 32px;
	}
	a {
		font-size: rem(32);
		color: $branco;
		background-color: $azul;
		padding: 16px 32px;
		border-radius: 10px;
		&:hover,
		&:focus {
			color: $branco;
		}
	}
}
