.contato {
	margin-block: 100px 150px;
	&--field-holder {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 150px 250px;
		@include device(xxl) {
			gap: 100px 50px;
		}
		@include device(lg) {
			grid-template-columns: 1fr;
			gap: 80px;
		}
	}
	&--button {
		padding: 15px 70px;
		border: none;
		background-color: $azul;
		color: $branco;
		font-size: rem(24);
		display: inline-block;
		text-transform: uppercase;
		text-align: center;
		border-radius: 5px;
		grid-column: 1;
		margin-top: -75px;
		@include device(xxl) {
			margin-top: -50px;
		}
		@include device(lg) {
			margin-top: -40px;
		}
	}
}
