.input-container {
	label {
		font-size: rem(32);
		font-weight: 400;
		color: $cinza-escuro;
		margin-bottom: 20px;
		display: block;
	}
	input,
	textarea {
		border: none;
		background-color: $cinza-claro;
		color: $cinza-escuro;
		border-radius: 5px;
		height: 80px;
		width: 100%;
		font-size: rem(32);
		padding: 20px;
	}
	textarea {
		resize: vertical;
		height: 200px;
	}
}
