@use 'sass:math';
@import '~slick-carousel/slick/slick.css';

// slider cursos ---------------------

.home--cursos,
.cursos {
	padding-bottom: 50px;
	.slick-slide {
		height: 330px;
		@include device(custom, 500px) {
			height: 400px;
		}
	}
	.slick-current {
		.slide-container {
			margin-left: 0;
		}
	}
	.slide-container {
		border-radius: 20px;
		box-shadow: 0px 15px 35px #bfbfbf40;
		background-color: $branco;
		width: 574px;
		height: 270px;
		display: flex;
		position: relative;
		margin-left: 86px;
		transition: 0.2s;
		cursor: pointer;
		@include device(custom, 1499px) {
			margin-left: 34px;
		}
		@include device(custom, 1399px) {
			width: 484px;
		}
		@include device(custom, 1199px) {
			width: calc(100% - 40px);
		}
		@include device(custom, 500px) {
			flex-direction: column;
			height: 333px;
		}
		button {
			background-color: $azul;
			border: none;
			border-radius: 50%;
			height: 80px;
			width: 80px;
			position: absolute;
			bottom: -40px;
			right: -40px;
			&::before {
				content: '';
				position: absolute;
				width: 30px;
				height: 0px;
				left: 50%;
				border: 2px solid $branco;
				background-color: $branco;
				border-radius: 5px;
				transform: translate(-50%, -10px) rotate(35deg);
			}
			&::after {
				content: '';
				position: absolute;
				width: 30px;
				height: 0px;
				left: 50%;
				border: 2px solid $branco;
				background-color: $branco;
				border-radius: 5px;
				transform: translate(-50%, 6px) rotate(-35deg);
			}
		}
	}
	.slide-img-wrapper {
		border-top-left-radius: 35px;
		border-bottom-left-radius: 35px;
		overflow: hidden;
		width: 170px;
		@include device(custom, 500px) {
			width: 100%;
			height: 300px;
			border-radius: 0;
			border-top-left-radius: 35px;
			border-top-right-radius: 35px;
		}

		img {
			height: 100%;
			width: 170px;
			object-fit: cover;
			object-position: center center;
			@include device(custom, 500px) {
				width: 150%;
			}
		}
	}

	.slide-previous {
		margin-left: 0;
		margin-right: 86px;
	}

	.slide-content {
		margin-top: 40px;
		margin-left: 40px;
		max-width: 340px;
		@include device(custom, 1399px) {
			padding-right: 5px;
		}
		@include device(custom, 1199px) {
			max-width: 100%;
		}
		@include device(sm) {
			margin-top: 20px;
			margin-left: 20px;
		}
		span {
			color: $cinza;
			text-transform: uppercase;
			font-size: rem(16);
			font-weight: 400;
			margin-bottom: 40px;
			display: inline-block;
			@include device(custom, 500px) {
				margin-bottom: 20px;
			}
		}
		h2 {
			font-size: rem(32);
			font-weight: 400;
			@include device(custom, 500px) {
				margin-bottom: 20px;
			}
		}
	}
}

.cursos {
	.slide-img-wrapper {
		background-image: linear-gradient(
			to bottom,
			rgba(#f7c659, 0.5),
			rgba($azul, 0.5)
		);
	}
}

// slider depoimentos ----------------

.home--depoimentos {
	.slide-container {
		max-width: 340px;
		height: 500px;
		border-radius: 20px;
		box-shadow: 0px 15px 35px #bfbfbf40;
		background-color: $branco;
		padding-inline: 20px;
		padding-block: 40px 15px;
		margin-left: 126px;
		transition: 0.2s;
	}
	.slide-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: calc(100% - 120px);
	}
	.slick-current .slide-container {
		margin-left: 0;
	}
	.slide-img-wrapper {
		height: 120px;
		width: 120px;
		overflow: hidden;
		border-radius: 50%;
		margin-inline: auto;
	}
	.slide-previous {
		margin-left: 0;
	}
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center center;
	}
	p {
		font-size: rem(24);
		line-height: math.div(44, 24);
		font-weight: 400;
		color: $cinza;
		margin-block: 20px;
	}
	h3 {
		font-size: rem(24);
		font-weight: 500;
		margin-bottom: 5px;
		color: $cinza-escuro;
	}
	span {
		display: inline-block;
		font-size: rem(24);
		color: $cinza;
		line-height: math.div(34, 24);
	}
}

// slider blog ----------------

.blog,
.home--blog {
	.slide-container {
		height: 340px;
		width: 340px;
		border-radius: 35px;
		background-color: $branco;
		cursor: pointer;
		position: relative;
		margin-left: 86px;
		box-shadow: 0px 15px 35px #bfbfbf40;
		@include device(custom, 1500px) {
			margin-left: 52px;
		}
		.slide-img-wrapper {
			height: 110px;
			border-top-left-radius: 35px;
			border-top-right-radius: 35px;
			overflow: hidden;
			background-image: linear-gradient(
				to bottom,
				rgba(#f7c659, 0.5),
				rgba($azul, 0.5)
			);

			img {
				height: 110px;
				object-fit: cover;
				object-position: center center;
				mix-blend-mode: multiply;
			}
		}
		.slide-content {
			margin: 15px;
			span {
				font-size: rem(16);
				font-weight: 400;
				color: $cinza;
				text-transform: uppercase;
				margin-bottom: 25px;
				display: inline-block;
			}
			h2 {
				font-size: rem(32);
				color: $cinza-escuro;
				font-weight: 400;
			}
		}
		button {
			background-color: $azul;
			border: none;
			border-radius: 50%;
			height: 80px;
			width: 80px;
			position: absolute;
			bottom: -40px;
			right: -40px;
			&::before {
				content: '';
				position: absolute;
				width: 30px;
				height: 0px;
				left: 50%;
				border: 2px solid $branco;
				background-color: $branco;
				border-radius: 5px;
				transform: translate(-50%, -10px) rotate(35deg);
			}
			&::after {
				content: '';
				position: absolute;
				width: 30px;
				height: 0px;
				left: 50%;
				border: 2px solid $branco;
				background-color: $branco;
				border-radius: 5px;
				transform: translate(-50%, 6px) rotate(-35deg);
			}
		}
	}
	.slick-list {
		height: 400px;
	}
	.first-active .slide-container {
		margin-left: 0;
		@include device(xl) {
			margin: 0 !important;
			width: calc(100% - 40px);
		}
	}
	.previous-slide .slide-container {
		margin-right: 86px;
		margin-left: 0;
		transition: 0.5s;
	}
	.middle-slide .slide-container {
		margin-left: 43px;
		@include device(custom, 1500px) {
			margin-left: 26px;
		}
		@include device(custom, 1399px) {
			margin-left: 178px;
			margin-right: 0;
		}
		@include device(custom, 1199px) {
			margin-left: 88px;
		}
	}
	.last-item .slide-container {
		margin-left: 86px;
		@include device(custom, 1199px) {
			margin-left: 35px;
		}
	}
}

// setas -----------------------

.slick-arrow {
	position: absolute;
	top: -100px;
	background: transparent;
	border: none;
	width: 30px;
	height: 30px;
	@include device(sm) {
		top: auto;
		bottom: -50px;
	}
}

.slick-prev {
	right: 50px;
	@include device(sm) {
		right: calc(50% + 50px);
		transform: translate(calc(50% + 20px), 0);
	}

	&::before {
		content: '';
		position: absolute;
		width: 30px;
		height: 0px;
		border: 2px solid $cinza;
		background-color: $cinza;
		border-radius: 5px;
		transform: translate(-50%, -10px) rotate(145deg);
	}
	&::after {
		content: '';
		position: absolute;
		width: 30px;
		height: 0px;
		border: 2px solid $cinza;
		background-color: $cinza;
		border-radius: 5px;
		transform: translate(-50%, 6px) rotate(-145deg);
	}
}

.slick-next {
	right: 0;
	@include device(sm) {
		right: 50%;
		transform: translate(calc(50% + 20px), 0);
	}

	&::before {
		content: '';
		position: absolute;
		width: 30px;
		height: 0px;
		border: 2px solid $cinza;
		background-color: $cinza;
		border-radius: 5px;
		transform: translate(-50%, -10px) rotate(35deg);
	}
	&::after {
		content: '';
		position: absolute;
		width: 30px;
		height: 0px;
		border: 2px solid $cinza;
		background-color: $cinza;
		border-radius: 5px;
		transform: translate(-50%, 6px) rotate(-35deg);
	}
}

.slick-disabled {
	opacity: 0.5;
	cursor: no-drop !important;
}
