@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

$azul: #839eaa;
$branco: #ffffff;
$cinza-escuro: #606060;
$cinza: #bfbfbf;
$amarelo: #ffd77e;
$cinza-claro: #f5f5f5;

$font1: 'Raleway', sans-serif;
$font2: 'Merriweather', serif;

@mixin device($device, $size: 0) {
	@if $device == xs {
		@media (max-width: 400px) {
			@content;
		}
	} @else if $device == sm {
		@media (max-width: 576px) {
			@content;
		}
	} @else if $device == lg {
		@media (max-width: 767px) {
			@content;
		}
	} @else if $device == xl {
		@media (max-width: 992px) {
			@content;
		}
	} @else if $device == xxl {
		@media (max-width: 1200px) {
			@content;
		}
	} @else if $device == custom {
		@media (max-width: $size) {
			@content;
		}
	}
}

@function rem($px) {
	@return math.div($px, 16) + rem;
}

@media (min-width: 1500px) {
	.container {
		max-width: calc(1400px + 24px);
	}
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font1;
}

p,
a,
h1,
h2,
h3 {
	color: $cinza-escuro;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	&:hover {
		color: $branco;
	}
}

img {
	width: 100%;
	display: block;
}

.img-wrapper {
	background-image: linear-gradient(to bottom, #f7c659, $azul);
}

.main-title-holder {
	position: relative;
	span {
		position: absolute;
		top: -35px;
		font-size: rem(16);
		color: $cinza-escuro;
		font-weight: 500;
	}
}

.main-title {
	font-family: $font2;
	color: $cinza-escuro;
	font-size: rem(50);
	position: relative;
	display: inline-block;
	margin-bottom: 55px;
	line-height: 1.2;
	width: fit-content;
	z-index: 5;
	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		bottom: -7px;
		height: 33px;
		width: 100%;
		background-color: $amarelo;
	}
}

.home--section .main-title {
	@include device(lg) {
		font-size: 2.5rem;
	}
}
